/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Space Grotesk', sans-serif;
    color: white}
header, section {
    padding: 20px;
    font-family: 'Space Grotesk', sans-serif;
    color: whitesmoke}
h1 {
    color: black; 
    font-family: 'Lexend Zetta', sans-serif;}
h2 {
    color: rgb(200, 175, 211); 
    font-family: 'Lexend Zetta', sans-serif; 
    line-height: 3.5em;}
h3 {
    color: whitesmoke; 
    font-family: 'Lexend Zetta', sans-serif; 
}
#inspiration {
    background-color: #000000;
    color: whitesmoke
    padding-top: 40px;
    padding-bottom: 40px;
}